<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<style>
    label {
        font-size: 15px !important;
    }
</style>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <!-- Menu ngang phía trên -->
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- End -->
    <div class="container-fluid page-body-wrapper">
        <!-- Siderbar bên trái -->
        <th:block th:include="Common/VerticalNavbar"/>
        <!-- End -->
        <div class="main-panel">
            <div class="content-wrapper">
                <h4 class="text-center mb-5">Thống kê số liệu</h4>
                <div class="row">
                    <div class="col-md-6 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-cash-multiple text-success icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Tổng doanh thu trong tuần</p>
                                        <div class="fluid-container mt-3">
                                            <h4 class="font-weight-medium text-right mb-0" th:text="${revenue} + ' đ'"></h4>
                                        </div>
                                    </div>
                                </div>
                                <p class="float-right mt-2 mb-0">
                                    <a href="/manage-ticket">Xem chi tiết
                                        <span class="mdi mdi-arrow-right-bold"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 grid-margin stretch-card">
                        <div class="card card-statistics">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left">
                                        <i class="mdi mdi-receipt text-danger icon-lg"></i>
                                    </div>
                                    <div class="float-right">
                                        <p class="mb-0 text-right">Tổng số vé đã bán trong ngày</p>
                                        <div class="fluid-container mt-3">
                                            <h4 class="font-weight-medium text-right mb-0" th:text="${dailysale}"></h4>
                                        </div>
                                    </div>
                                </div>
                                <p class="float-right mt-2 mb-0">
                                    <a href="/manage-ticket">Xem chi tiết
                                        <span class="mdi mdi-arrow-right-bold"></span>  
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Bảng thống kê số vé theo tuyến đường</h4>
                                <div class="text-center text-danger" th:text="${deleteError}"></div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead class="text-center">
                                        <tr>
                                            <th>Mã</th>
                                            <th>Điểm đi</th>
                                            <th>Điểm đến</th>
                                            <th>Ngày khởi hành</th>
                                            <th>Tổng số vé bán được</th>
                                            <th>Thao tác</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr th:each="route : ${busRouteList}">
                                            <td th:text="${route.routeId}"></td>
                                            <td th:text="${route.origin}"></td>
                                            <td th:text="${route.destination}"></td>
                                            <td th:text="${#dates.format(route.departureDate,'dd-MM-yyyy')}"></td>
                                            <td th:text="${route.breakPoint}"></td>
                                            <td>
                                            <span class="mdi mdi-details">
                                                <a th:href="@{'/manage-route/tickets/' + ${route.routeId}}">Chi tiết</a>
                                            </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>