<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
</head>
<body>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <h2 class="text-center mb-4" style="color: #ffffff">Đăng ký tài khoản</h2>
                    <div class="auto-form-wrapper">
                        <form th:object="${appUser}" th:action="@{/register}" method='POST'>
                            <div class="form-group">
                                <label class="label">Tài khoản</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Username" th:field="*{userName}" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-account"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="color: red; font-size: 12px" th:text="${dulicateUsername}"></div>
                            </div>
                            <div class="form-group">
                                <label class="label">Mật khẩu</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="********" th:field="*{encrytedPassword}" required>
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-textbox-password"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Email</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required>
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-email"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Họ và tên</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Dương Hoàng Giang" th:field="*{fullName}" required>
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-account-card-details"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Tuổi</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Phải là số" th:field="*{age}" pattern="[0-9.]+"
                                           maxlength="2" required>
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-account-card-details"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Số điện thoại</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Phải là số, tối đa 11 số" th:field="*{phone}"
                                           pattern="[0-9.]+" maxlength="11">
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-phone"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Địa chỉ</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Số 2 ngõ 61 Giang Văn Minh" th:field="*{address}">
                                    <div class="input-group-append">
                                         <span class="input-group-text">
                                            <i class="mdi mdi-map-marker"></i>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary submit-btn btn-block" type="submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>