<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/fpt</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.example.Group5.entity.Booking"/>
      <mapping class="com.example.Group5.entity.Passenger"/>
      <mapping class="com.example.Group5.entity.Ticket"/>
      <mapping class="com.example.Group5.entity.Bus"/>
      <mapping class="com.example.Group5.entity.BusRoute"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>