<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<style>
    label {
        font-size: 15px !important;
    }
</style>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <!-- Menu ngang phía trên -->
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- End -->
    <div class="container-fluid page-body-wrapper">
        <!-- Siderbar bên trái -->
        <th:block th:include="Common/VerticalNavbar"/>
        <!-- End -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-stretch grid-margin">
                        <div class="row flex-grow">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Tạo mới nhân viên</h4>
                                        <form th:object="${appUser}" th:action="@{/manage-employee/create}" method="POST">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputUsername">Tên tài khoản</label>
                                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username"
                                                           th:field="*{userName}" required>
                                                    <div style="color: red; font-size: 12px" th:text="${dulicateUsername}"></div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword">Mật khẩu</label>
                                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                                           th:field="*{encrytedPassword}" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputFullname">Họ và tên</label>
                                                <input type="text" class="form-control" id="inputFullname" placeholder="Tên đầy đủ"
                                                       th:field="*{fullName}">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputPhone">Số điện thoại</label>
                                                    <input type="text" class="form-control" id="inputPhone" pattern="[0-9.]+" maxlength="11"
                                                           placeholder="Số điện thoại phải là số,tối đa 11 chữ số" th:field="*{phone}">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputAge">Tuổi</label>
                                                    <input type="text" class="form-control" id="inputAge" pattern="[0-9.]+" placeholder="Phải là số"
                                                           th:field="*{age}" maxlength="3">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputAddress">Địa chỉ</label>
                                                    <input type="text" class="form-control" id="inputAddress"
                                                           placeholder="Số 2 ngõ 61 Giang Văn Minh" th:field="*{address}">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="role">Vai trò</label>
                                                    <select id="role" class="form-control" name="role">
                                                        <option value="1">Admin</option>
                                                        <option value="2" selected>Nhân viên</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="status">Trạng thái tài khoản</label>
                                                    <select id="status" class="form-control" name="status">
                                                        <option value="1" selected>Đã kích hoạt</option>
                                                        <option value="0">Khóa</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Tạo mới</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    $('.nav .nav-item:nth-child(4)').addClass('active');
</script>
</body>
</html>