<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<style>
    label {
        font-size: 15px !important;
    }
</style>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <!-- Menu ngang phía trên -->
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- End -->
    <div class="container-fluid page-body-wrapper">
        <!-- Siderbar bên trái -->
        <th:block th:include="Common/VerticalNavbar"/>
        <!-- End -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 d-flex align-items-stretch grid-margin">
                        <div class="row flex-grow">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Tạo mới hành trình</h4>
                                        <form method="post" th:object="${bus}" th:action="@{/manage-bus/create}">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputBusno">Số xe</label>
                                                    <input id="inputBusno" type="text" class="form-control" th:field="*{busNo}"
                                                           pattern="[0-9.]+" maxlength="2"
                                                           placeholder="Số xe phải là số,tối đa 2 chữ số" required
                                                           style="height: calc(2.25rem + 2px);">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="type">Loại xe</label>
                                                    <select id="type" name="type" class="form-control">
                                                        <option th:each="types:${listBusType}" th:value="${types.getBusTypeId()}"
                                                                th:text="${types.getBusType()}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="route">Tuyến đường</label>
                                                    <select id="route" name="route" class="form-control">
                                                        <option th:each="routes : ${listBusRoute}" th:value="${routes.getBusRouteId()}"
                                                                th:text="${routes.getOrigin() + ' - ' + routes.getDestination()}"></option>
                                                    </select>
                                                    <div style="color: red; font-size: 12px" th:text="${duplicateRoute}"></div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Tạo mới</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    $('.nav .nav-item:nth-child(5)').addClass('active');
</script>
</body>
</html>