<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/customCSS.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
</head>

<body>
<div class="container-scroller">
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- Siderbar bên trái -->
    <div class="container-fluid page-body-wrapper">
        <th:block th:include="Common/VerticalNavbar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Danh sách các xe đang hoạt động</h4>
                                        <a class="btn btn-success" href="/manage-bus/create">
                                            <span class="mdi mdi-plus"></span>
                                            Thêm xe
                                        </a>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-center">
                                                <tr>
                                                    <th>Số xe</th>
                                                    <th>Loại xe</th>
                                                    <th>Tổng số ghế</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                <tr th:each="bus : ${busList}">
                                                    <td th:text="'B1-'+ ${bus.busNo}"></td>
                                                    <td th:text="${bus.busType.busType}"></td>
                                                    <td th:text="${bus.busType.totalSeat}"></td>
                                                    <td>
                                                        <span class="mdi mdi-pencil">
                                                            <a th:href="@{'/manage-bus/update/' + ${bus.getBusId()}}">Sửa</a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/js/vendor.bundle.addons.js"></script>
<script src="js/misc.js"></script>
<script src="js/dashboard.js"></script>
<script src="/js/bootstrap-notify.min.js"></script>
<script th:inline="javascript">
    if ([[${msgsuccess}]]) {
        $.notify({
            message: [[${msgsuccess}]]
        }, {
            type: 'success'
        });
    }
</script>
</body>
</html>