<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<style>
    label {
        font-size: 15px !important;
    }
    .fs-20 {
        font-size: 20px !important;
    }
    .dropdown-divider{
        border-top: 1px solid #308ee0;
    }
</style>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <!-- Menu ngang phía trên -->
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- End -->
    <div class="container-fluid page-body-wrapper">
        <!-- Siderbar bên trái -->
        <th:block th:include="Common/VerticalNavbar"/>
        <!-- End -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 offset-4">
                        <div class="row flex-grow">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Thông tin chi tiết vé xe</h4>
                                        <div class="form-group row mt-5">
                                            <label class="col-sm-6 col-form-label">Họ và tên người đặt:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold" th:text="${passengerInfo.passengerName}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Tuổi:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold" th:text="${passengerInfo.passengerAge}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Số xe:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold" th:text="${busInfo.busNo}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Loại xe:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold" th:text="${busInfo.busType.busType}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Hành trình:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold"
                                                   th:text="${busInfo.busRoute.origin + ' - ' + busInfo.busRoute.destination}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Ngày khởi hành:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold"
                                                   th:text="${busInfo.busRoute.departureDate}"></label>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Số vẽ đã đặt:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold" th:text="${ticketInfo.amount}"></label>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label font-weight-bold fs-20">Tổng tiền:</label>
                                            <label class="col-sm-6 col-form-label font-weight-bold fs-20 text-right"
                                                   th:text="${#numbers.formatDecimal(busInfo.busRoute.fare*ticketInfo.amount,2,0,'COMMA')}+' '+'đ'"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>

</body>
</html>