<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ticket System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<style>
    .table td {
        font-size: 11px;
    }
</style>
<div class="container-scroller" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- Siderbar bên trái -->
    <div class="container-fluid page-body-wrapper">
        <th:block th:include="Common/VerticalNavbar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Tìm kiếm thông tin về danh sách vé xe</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    $('.nav .nav-item:nth-child(5)').addClass('active');
</script>
</body>
</html>