<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bus Reservation System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/customCSS.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
</head>

<body>
<div class="container-scroller">
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- Siderbar bên trái -->
    <div class="container-fluid page-body-wrapper">
        <th:block th:include="Common/VerticalNavbar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12 d-flex align-items-stretch grid-margin">
                        <div class="row flex-grow">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Quản lý tuyến đường</h4>
                                        <div class="text-center text-danger" th:text="${deleteError}"></div>
                                        <a class="btn btn-success" href="/manage-route/create">
                                            <span class="mdi mdi-plus"></span>
                                            Thêm tuyến đường
                                        </a>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Mã</th>
                                                    <th>Điểm đi</th>
                                                    <th>Điểm đến</th>
                                                    <th>Điểm dừng chân</th>
                                                    <th>Ngày khởi hành</th>
                                                    <th>Thời gian</th>
                                                    <th>Số xe</th>
                                                    <th>Giá vé</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="route : ${busRouteList}">
                                                    <td th:text="${route.routeId}"></td>
                                                    <td th:text="${route.origin}"></td>
                                                    <td th:text="${route.destination}"></td>
                                                    <td th:text="${route.breakPoint}"></td>
                                                    <td th:text="${#dates.format(route.departureDate,'dd-MM-yyyy')}"></td>
                                                    <td th:text="${route.arrivaltime}"></td>
                                                    <td th:text="'B1-'+ ${route.bus.busNo}"></td>
                                                    <td th:text="${#numbers.formatDecimal(route.fare,2,0,'COMMA')}+' '+'đ'"></td>
                                                    <td>
                                                        <span class="mdi mdi-pencil mr-2">
                                                            <a th:href="@{'/manage-route/update/' + ${route.routeId}}">Sửa</a>
                                                        </span>
                                                        <span class="mdi mdi-details mr-5">
                                                            <a th:href="@{'/manage-route/tickets/' + ${route.routeId}}">Chi tiết</a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/js/vendor.bundle.addons.js"></script>
<script src="js/misc.js"></script>
<script src="js/dashboard.js"></script>
<script src="/js/bootstrap-notify.min.js"></script>
<script th:inline="javascript">
    $('.nav .nav-item:nth-child(4)').addClass('active');
    if ([[${success}]]) {
        $.notify({
            message: [[${success}]]
        }, {
            type: 'success'
        });
    }
</script>
</body>
</html>