<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ticket System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customCSS.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
<div class="container-scroller">
    <th:block th:include="Common/HorizontalNavbar"/>
    <!-- Siderbar bên trái -->
    <div class="container-fluid page-body-wrapper">
        <th:block th:include="Common/VerticalNavbar"/>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="text-center">Danh sách vé xe theo tuyến đường</h4>
                                        <div class="table-responsive" th:if="${tickets != null}">
                                            <table class="table table-striped">
                                                <thead class="text-center">
                                                <tr>
                                                    <th>Mã vé</th>
                                                    <th>Người đặt</th>
                                                    <th>Số lượng</th>
                                                    <th>Ngày đặt</th>
                                                    <th>Trạng thái</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-center">
                                                <tr th:each="ticket : ${tickets}">
                                                    <td th:text="'TK-'+ ${ticket.ticketId}"></td>
                                                    <td th:text="${ticket.customer.fullName}"></td>
                                                    <td th:text="${ticket.amount}"></td>
                                                    <td th:text="${#dates.format(ticket.bookingDate,'dd-MM-yyyy')}"></td>
                                                    <td th:if="${ticket.status == false}" th:text="'Chưa thanh toán'"></td>
                                                    <td th:unless="${ticket.status == false}" th:text="'Đã thanh toán'"></td>
                                                    <td>
                                                         <span class="mdi mdi-pencil">
                                                            <a th:href="@{'/manage-route/ticket/update/' + ${ticket.ticketId}}">Cập nhật</a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-center" th:if="${isEmpty != null}" th:text="${isEmpty}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/js/misc.js"></script>
<script src="/js/dashboard.js"></script>
<script th:inline="javascript">
    if ([[${msg}]]) {
        $.notify({
            message: [[${msg}]]
        }, {
            type: 'success'
        });
    }
</script>
<script>
    $('.nav .nav-item:nth-child(4)').addClass('active');
</script>

</body>
</html>